// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fonts
@import '~font-awesome/scss/font-awesome';

// Variables
@import 'variables';


/** Footer Styles**/

.footer-container .socials li{
    display: inline;
}

.footer-container .socials .social-element{
    background-color: #fff;
    font-size: 28px;
    padding: 5px;
    margin-right:5px;
    color:#111;
    border-radius: 5px;
    display: inline-block;
    width:45px;
    text-align: center;
}

.footer-container .socials a{
    color:#111;
}

.footer-container .row-dark{
    background-color: $colortech;
    padding:5px;
}

.footer-container{
    background-color: #111;
    color:#fff;
}

.footer-container > .container{
    padding: 5px;
}

.footer-container > .container a{
    font-size: 14px;
    color:#878787;
}

.footer-container > .container a:hover{
    font-size: 14px;
    color: $colortech;
}

/** Header Styles **/
.header-container .dropdown-menu .dropdown-item:hover{
    background: none;
}
.header-container .dropdown-menu .dropdown-item:active{
    background: none;
}

@media screen and (max-width: 768px) {
    .header-container .navbar-transparent{
        background-color: #000;
        animation: bright 1s ease forwards;
        .nav-link{
            color:#fff;
        }
        .link-effect{
            color:#fff;
            width: 170px;
            height: 35px;
            border: 1px solid #ccc;
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 0;
            transition: 1s;
          }

          .link-effect::before, .link-effect::after {
            position: absolute;
            background: transparent;
            z-index: -1;
            transition: 1s;
            content: '';
          }

          .link-effect::before {
            height: 35px;
            width: 130px;
          }

          .link-effect::after {
            width: 150px;
            height: 30px;
          }

          .noselect {
            -webkit-touch-callout: none;
              -webkit-user-select: none;
               -khtml-user-select: none;
                 -moz-user-select: none;
                  -ms-user-select: none;
                      user-select: none;
          }

          .link-effect:hover::before {
            width: 0px;
            background: $lightcolortech;
          }

          .link-effect:hover::after {
            height: 0px;
            background: $lightcolortech;
          }

          .link-effect:hover {
            background: $lightcolortech;
            color: #000;
          }
    }

    .header-container .navbar-blacked{
        background-color: #000;
        animation: bright 1s ease forwards;
        .nav-link{
            color:#fff;
        }
        .link-effect{
            color:#fff;
            width: 170px;
            height: 35px;
            border: 1px solid #ccc;
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 0;
            transition: 1s;
          }

          .link-effect::before, .link-effect::after {
            position: absolute;
            background: transparent;
            z-index: -1;
            transition: 1s;
            content: '';
          }

          .link-effect::before {
            height: 35px;
            width: 130px;
          }

          .link-effect::after {
            width: 150px;
            height: 30px;
          }

          .noselect {
            -webkit-touch-callout: none;
              -webkit-user-select: none;
               -khtml-user-select: none;
                 -moz-user-select: none;
                  -ms-user-select: none;
                      user-select: none;
          }

          .link-effect:hover::before {
            width: 0px;
            background: $lightcolortech;
          }

          .link-effect:hover::after {
            height: 0px;
            background: $lightcolortech;
          }

          .link-effect:hover {
            background: $lightcolortech;
            color: #000;
          }
    }
}
@media screen and (min-width: 768px) {
    .header-container .navbar-transparent{
        background:transparent;
        .nav-link{
            color:$lightcolortech;
        }
        .link-effect{
            color:$lightcolortech;
            width: 170px;
            height: 35px;
            border: 1px solid $lightcolortech;
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 0;
            transition: 1s;
          }

          .link-effect::before, .link-effect::after {
            position: absolute;
            background: transparent;
            z-index: -1;
            transition: 1s;
            content: '';
          }

          .link-effect::before {
            height: 35px;
            width: 130px;
          }

          .link-effect::after {
            width: 150px;
            height: 30px;
          }

          .noselect {
            -webkit-touch-callout: none;
              -webkit-user-select: none;
               -khtml-user-select: none;
                 -moz-user-select: none;
                  -ms-user-select: none;
                      user-select: none;
          }

          .link-effect:hover::before {
            width: 0px;
            background: #fff;
          }

          .link-effect:hover::after {
            height: 0px;
            background: #fff;
          }

          .link-effect:hover {
            background: #fff;
            color: $darkcolortech;
          }
    }

    .header-container .navbar-blacked{
        background-color: #000;
        animation: bright 1s ease forwards;
        .nav-link{
            color:#fff;
        }
        .link-effect{
            color:#fff;
            width: 170px;
            height: 35px;
            border: 1px solid #ccc;
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 0;
            transition: 1s;
          }

          .link-effect::before, .link-effect::after {
            position: absolute;
            background: transparent;
            z-index: -1;
            transition: 1s;
            content: '';
          }

          .link-effect::before {
            height: 35px;
            width: 130px;
          }

          .link-effect::after {
            width: 150px;
            height: 30px;
          }

          .noselect {
            -webkit-touch-callout: none;
              -webkit-user-select: none;
               -khtml-user-select: none;
                 -moz-user-select: none;
                  -ms-user-select: none;
                      user-select: none;
          }

          .link-effect:hover::before {
            width: 0px;
            background: $lightcolortech;
          }

          .link-effect:hover::after {
            height: 0px;
            background: $lightcolortech;
          }

          .link-effect:hover {
            background: $lightcolortech;
            color: #000;
          }
    }
}

.header-container .icon-container{
    display:inline-block;
    width:30px;
    height:30px;
    background-color: $lightcolortech;
    color:#fff;
    font-size:20px;
    border-radius:50%;
    text-align: center;
}

.header-container .icon-container:hover{
    background-color: $darkcolortech;
}

.header-container .jumbotron{
    border-bottom: 3px solid $colortech;
    border-radius: 0px 0px 5px 5px;
    background-image : url(http://localhost:8000/images/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.header-container .mask-black{
    background-color: rgba($color: #000000, $alpha: 0.5);
}

/** Home Styles **/

.home-section{
    min-height: 300px;
    animation: $sectionAnimation;
}

.home-section .rcmd-title{
    font-size: 28px;
    border-bottom: 1px $lightcolortech solid;
    margin-bottom: 20px;
}

/** Contact Style **/

.contact-form{
    display: flex;
  }
  @media screen and (max-width: 600px){
    .contact-form{
      flex-direction: column;
    }
  }
.sec-title-style1 {
    position: relative;
    display: block;
    margin-top: -9px;
    padding-bottom: 50px;
}
.sec-title-style1.max-width{
    position: relative;
    display: block;
    max-width: 770px;
    margin: -9px auto 0;
    padding-bottom: 52px;
}
.sec-title-style1.pabottom50 {
    padding-bottom: 42px;
}
.sec-title-style1 .title {
    position: relative;
    display: block;
    color: #000;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;
}
.sec-title-style1 .title.clr-white{
    color: #000;
}
.sec-title-style1 .decor {
    position: relative;
    display: block;
    width: 70px;
    height: 5px;
    margin: 19px 0 0;
}
.sec-title-style1 .decor:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #3700ff;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .decor:after{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #FFA500;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .decor span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #FFA500;
    margin: 2px 0;
}
.sec-title-style1 .text{
    position: relative;
    display: block;
    margin: 7px 0 0;
}
.sec-title-style1 .text p{
    position: relative;
    display: inline-block;
    padding: 0 15px;
    color: #000;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.sec-title-style1 .text.clr-yellow p{
    color: #FFA500;
}
.sec-title-style1 .text .decor-left{
    position: relative;
    top: -2px;
    display: inline-block;
    width: 70px;
    height: 5px;
    background: transparent;
}
.sec-title-style1 .text .decor-left span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: $lightcolortech;
    content: "";
    margin: 2px 0;
}
.sec-title-style1 .text .decor-left:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: $lightcolortech;
    border-radius: 50%;
    content: "";
}
.sec-title-style1 .text .decor-left:after{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: $lightcolortech;
    border-radius: 50%;
    content: "";
}

.sec-title-style1 .text .decor-right{
position: relative;
top: -2px;
display: inline-block;
width: 70px;
height: 5px;
background: transparent;
}
.sec-title-style1 .text .decor-right span {
position: absolute;
top: 0;
right: 0;
bottom: 0;
width: 50px;
height: 1px;
background: #FFA500;
content: "";
margin: 2px 0;
}
.sec-title-style1 .text .decor-right:before{
position: absolute;
top: 0;
left: 0;
bottom: 0;
width: 5px;
height: 5px;
background: #FFA500;
border-radius: 50%;
content: "";
}
.sec-title-style1 .text .decor-right:after{
position: absolute;
top: 0;
left: 10px;
bottom: 0;
width: 5px;
height: 5px;
background: #FFA500;
border-radius: 50%;
content: "";
}

.contact-address-area{
position: relative;
display: block;
background: #000;
padding: 100px 0 120px;
}
.contact-address-area .sec-title-style1.max-width {
padding-bottom: 72px;
}
.contact-info-area {
position: relative;
display: block;
}
.contact-form {
position: relative;
display: block;
padding: 10px 60px 20px;
z-index: 3;
}
.contact-form .sec-title-style1{
position: relative;
display: block;
padding-bottom: 20px;
}
.contact-form .text-box{
position: relative;
display: block;
margin-top: 19px;
color: #000;
}
.contact-form .text p{
color: #000;
line-height: 26px;
margin: 0;
font-size: 1.4rem;
}

.contact-form .inner-box{
position: relative;
display: block;
}
.contact-form form{
position: relative;
display: block;
}
.contact-form form .input-box{
position: relative;
display: block;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea{
    position: relative;
    display: block;
    background: #ffffff00;
    border: 1px solid #eeeeee00;
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-bottom-color: #000;
    padding-left: 19px;
    padding-right: 15px;
    margin-bottom: 20px;
    transition: all 500ms ease;
}
.contact-form form textarea {
height: 130px;
padding-left: 19px;
padding-right: 15px;
padding-top: 14px;
padding-bottom: 15px;
border-color: #000;
border-radius: 10px;
}
.contact-form form input[type="text"]:focus{
color: #000;
border-color: #2c2c2c;
}
.contact-form form input[type="email"]:focus{
color: #000;
border-color: #1c1c1c;
}
.contact-form form textarea:focus{
color: #000;
border-color: #1c1c1c;
}
.contact-form form input[type="text"]::-webkit-input-placeholder {
color: #0f0f0f;
}
.contact-form form input[type="text"]:-moz-placeholder {
color: #0f0f0f;
}
.contact-form form input[type="text"]::-moz-placeholder {
color: #0f0f0f;
}
.contact-form form input[type="text"]:-ms-input-placeholder {
color: #0f0f0f;
}
.contact-form form input[type="email"]::-webkit-input-placeholder {
color: #0f0f0f;
}
.contact-form form input[type="email"]:-moz-placeholder {
color: #0f0f0f;
}
.contact-form form input[type="email"]::-moz-placeholder {
color: #0f0f0f;
}
.contact-form form input[type="email"]:-ms-input-placeholder {
color: #0f0f0f;
}
.contact-form form button {
    position: absolute;
    display: block;
    right: -3rem;
    width: 10%;
    top: 5rem;
    background: #feffb600;
    border: 1px solid #feffb600;
    color: $darkcolortech;
    font-size: 20px;
    line-height: 55px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    cursor: pointer;
}
.contact-form form button:hover{
    color: $darkcolortech;
    font-size: 25px;
    background: #13131300;
    border-color: #8a2be200;
}
.contact-info-area {
    min-height: 300px;
    animation: $sectionAnimation;
    background-image: url(http://localhost:8000/images/bg-contact.png);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 37px 0 26px;
}

/** About Styles **/

.about-section{
    animation: $sectionAnimation;
    background: url(http://localhost:8000/images/bg-about.png) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.about-section .inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.about-section .inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    border-bottom: 1px $lightcolortech solid;
}

.about-section .text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

@media screen and (max-width:1200px){
    .about-section .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .about-section .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .about-section .inner-container{
        padding: 60px;
    }
}

/** Product Styles **/

.product-section{
    min-height: 300px;
    animation: $sectionAnimation;
}

.product-title h1{
    font-size: 24px;
    color: #1f1f1f;
    font-family: sans-serif;
    height: 80px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.625;
}

.product-subtitle img{
    border-radius: 50%;
    width:50px;
    float: left;
}

.product-card{
    box-shadow: #91a1af 2px 4px 3px 3px;
}

.product-card-img{
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.product-card-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.product-text-middle {
    transition: .5s ease;
    position: absolute;
    font-size: 24px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.product-card-container:hover .product-card-img {
  opacity: 0.3;
}

.product-card-container:hover .product-card-middle {
  opacity: 1;
}

.product-card-text {
  background-color: $colortech;
  border-radius: 50%;
  color: white;
  font-size: 40px;
  padding:5px;
  width: 75px;
  height: 75px;
  text-align: center;
}

.product-text{
    margin-top: 10px;
    color: #3f3f3f;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
}

.product-section .review-container{
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px #aaa;
}

/** Products Page Styles **/

.products-container{
    min-height: 300px;
    animation: $sectionAnimation;
}

/** Cart Styles **/

.cart-section{
    min-height: 300px;
}

.cart-container{
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: #afbdca 2px 2px 5px 3px;
    padding: 10px;
}

.cart-section h1{
    border-bottom: 1px $lightcolortech solid;
    width: fit-content;
    margin: 0 auto;
}

/** Login Styles **/

.login-section{
    min-height: 300px;
}

/** Register Styles **/

.register-section{
    min-height: 300px;
}

/** Verify Page Styles **/

.verify-section{
    min-height: 300px;
}

/** Confirm Page Styles **/

.confirm-section{
    min-height: 300px;
}

/** Email Check Page Styles **/

.email-section{
    min-height: 300px;
}

/** Reset Password Page Styles **/

.reset-section{
    min-height: 300px;
}

@media screen and (max-width: 767px) {
    .display-none{
        display: none;
    }
}

/** Payment Style **/
.hide{
    display: none;
}

.command-item{
    border: 1px #aaa solid;
    box-shadow: #ccc 1px 1px 1px 1px;
}

.command-item table{
    width: 100%;
}

.command-item td{
    border: 1px #aaa solid;
}

.command-item .arg{
    width: 150px;
}

/** Payment History Page **/

.history-section{
    min-height: 300px;
}

.history-container{
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: #afbdca 2px 2px 5px 3px;
    padding: 10px;
}

.history-section h1{
    border-bottom: 1px $lightcolortech solid;
    width: fit-content;
    margin: 0 auto;
}

/**Rating**/

#rating-form{
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 6vw;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

